@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);
header{
  width: 100%;
  text-align: center;
  font-size: 30px;
  background-image: url(Images/Val_Beans.jpg);
  background-size: cover;
  padding-top: 20px;
  color: #5B8F84;

}
header h1{
  font-size: 4em;
  color: whitesmoke;
  margin:0 0;
  line-height: 200px;
}
header p{
  font-weight: bolder;
  font-size: 45px;
}

#navlist{
  list-style: none;
}
#navlist li{
  display: inline-block;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  margin: 160px 110px;
  margin-top: 0;
  color: whitesmoke;
  line-height: 150px;
  font-weight: bolder;

}
body{
  background-color: peachpuff;
  color:black;
  font-family: "Alegreya";
  margin:0;

}
#Main{
  text-align: center;
  font-size: 25px;

}
#story{
  box-sizing: border-box;
  border-style: solid;
  text-align: center;
  word-wrap:break-word;
  font-size: 40px;
  background-image:url(Images/coffee-870817_960_720.jpg);
  background-size: cover;
  color: #F59B50;
  border-color: whitesmoke;
  font-weight: bold;

}
#menu{
  width: 1000px;
  text-align: center;
  margin: 100px auto;
  font-size: 27px;


}
#Appetizers{
  box-sizing: border-box;
  border-style: solid;
  width:50%;
  padding: 15px;
  float: left;
  height:850px;
  text-align: center;
  border-color: whitesmoke;

}
#Soups{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:50%;
  padding: 15px;
  height:850px;
  text-align: center;
  border-color: whitesmoke;

}
#Sandwiches{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:50%;
  padding: 15px;
  height:600px;
  text-align: center;
  border-color: whitesmoke;

}
#Beans{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:50%;
  padding: 15px;
  height:600px;
  text-align: center;
  border-color: whitesmoke;

}
#Events{
  width: 1205px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
  margin-top: 500px;


}
#Pope{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  border-color: whitesmoke;
  font-size: 30px;

}
#Manayunk{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  float: left;
  border-color: whitesmoke;
  font-size: 27px;

}
#Drexel{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  float: left;
  border-color: whitesmoke;
  font-size: 27px;


}
#Fairmont{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  float: left;
  border-color: whitesmoke;
  font-size: 27px;


}
#Brewery{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  float: left;
  border-color: whitesmoke;
  font-size: 27px;

}
#Halloween{
  box-sizing: border-box;
  border-style: solid;
  float:left;
  width:16.6%;
  padding: 15px;
  height:800px;
  text-align: center;
  float: left;
  border-color: whitesmoke;
  font-size: 27px;

}

#image11{
  width: 150px;
  height:auto;
}
#image12{
  width: 165px;
  height:auto;
}
#image13{
  width: 165px;
  height:auto;
}
#image14{
  width: 165px;
  height:auto;
}
#image15{
  width: 165px;
  height:auto;
}
#image16{
  width: 165px;
  height:auto;
}
